<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <title>Cohort Edit Page</title>
  <link rel="stylesheet" type="text/css" href="/cohorts/styles/edit.css">
</head>
<body>
  <% if(user.role === 'admissions'){ %>
    <h1>Edit <%= section.name() %></h1>

    <form method="post" action="/cohorts/<%= section._id %>?_method=PUT" class="form-horizontal">
      <div class="form-group">
        <label for="program" class="col-sm-2 control-label">Program:</label>
        <div class="col-sm-9">
          <input type="text" name="program" value="<%= section.program %>" class="form-control" id="program">
        </div>
      </div>

      <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City:</label>
        <div class="col-sm-9">
          <input type="text" name="city" value="<%= section.city %>" class="form-control" id="city">
        </div>
      </div>

      <div class="form-group">
        <label for="campus" class="col-sm-2 control-label">Campus:</label>
        <div class="col-sm-9">
          <input type="text" name="campus" value="<%= section.campus %>" class="form-control" id="campus">
        </div>
      </div>

      <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Number:</label>
        <div class="col-sm-9">
          <input type="number" name="number" value="<%= section.number %>" class="form-control" id="number">
        </div>
      </div>

      <div class="form-group">
        <label for="start" class="col-sm-2 control-label">Start date:</label>
        <div class="col-sm-9">
          <input type="text" name="start" value="<%= section.startDate() %>" class="form-control" id="start">
        </div>
      </div>

      <div class="form-group">
        <label for="end" class="col-sm-2 control-label">End date:</label>
        <div class="col-sm-9">
          <input type="text" name="end" value="<%= section.endDate() %>" class="form-control" id="end">
        </div>
      </div>

      <button id="edit-cohort" class="btn btn-success active">Submit</button>
    </form>
    <a href="/cohorts/<%= section._id %>">Back to <%= section.name() %></a>
  <% } else { %>
    <h1>Access Denied</h1>
    <p>You don't have permission to view this page.</p>
  <% } %>

</body>
</html>
