<!DOCTYPE html>
<html>
<head>
  <title>Cohorts Index</title>
</head>
<body>
  <% things.forEach(function(cohort){ %>
    <p><a href="/cohorts/<%= cohort._id %>"><%= cohort.name() %></a></p>
    <li><%= cohort.instructors.length %>/3 Instructors</li>
    <li><%= cohort.students.length %>/20 Students</li>
    <li>Start: <%= cohort.start.toDateString() %></li>
    <li>End: <%= cohort.end.toDateString() %></li>
  <% }) %>
  <a href="/cohorts/new">Make a new cohort</a>
</body>
</html>
