<!DOCTYPE html>
<html>
<head>
  <title><%= section.name() %></title>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" type="text/css" href="/cohorts/styles/show.css">
</head>
<body>
  <% if(user.role === 'admissions'){ %>
    <h1><%= section.name() %></h1>
    <p>Start: <%= section.startDate() %></p>
    <p>End: <%= section.endDate() %></p>

    <div id="error"></div>

    <h3>Instructors:</h3>
    <table id="instructors" class="table table-hover list"></table>

    <div id="add-instructor">
      <input type="text" id="new-instructor"><button id="add-instructor-button">Add Instructor</button>
    </div>

    <h3>Students:</h3>
    <table id="students" class="table table-hover list"></table>
    <div id="add-student">
      <input type="text" id="new-student"><button id="add-student-button">Add Student</button>
    </div>

    <a href="/cohorts/<%= section.id %>/edit">Edit this cohort</a>
    <a href="/cohorts/">Back to index</a>

    <div class="hidden" id="cohort-id"><%= section._id %></div>

    <div class="sidebar">
      <h3>Accepted Students</h3>
      <ul id="accepted">
      </ul>
    </div>

  <% } else { %>
    <h1>Access Denied</h1>
    <p>You don't have permission to view this page.</p>
  <% } %>

  <script src="/cohorts/js/show.js"></script>
</body>
</html>
