<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script src="/instructor/js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/instructor/styles/styles.css">
	<title>General Assembly Admissions - Student Evaluation</title>
</head>
<body>
	<div class="container">
		<h1>General Assembly Admissions Evaluation form for <%= student.name %> </h1>
		<div>
			<div>
				<% if(student.avatar){ %>
					<img src="<%= student.avatar %>" width="200">
				<% } else { %>
					<p>Image not available</p>
				<% } %>
			</div>
			<div>
				<% if(student.github){ %>
					<p><a href="<%= student.github %>">Click here to view <%= student.name %> GitHub</a></p>
				<% } else { %>
					<p>No GitHub link available</p>
				<% } %>
			</div>
		</div>

		<form method="POST" action="/instructor">
			<input type="hidden" value ="<%= student.id %>" name="student_id"/>
			<hr>
			<h1>Why GA?</h1>
			<textarea name ="why_ga" placeholder="Why GA?"></textarea>
			<hr>

			<h1>Punctuality</h1>
			<h4>Was student was on time?</h4>
			<input type="radio" value="true" name="on_time" checked>Yes
			<input type="radio" value="false" name="on_time">No
			<textarea name ="on_time_notes" placeholder="Punctuality"></textarea>
			<hr>

			<h1>Professionalism</h1>
			<h4>The Student was...</h4>
			<ul>
				<li><input type="radio" value="1" name="professionalism">  Not professional at all</li>
				<li><input type="radio" value="2" name="professionalism">  Not really professional</li>
				<li><input type="radio" value="3" name="professionalism" checked >  Somewhat professional</li>
				<li><input type="radio" value="4" name="professionalism">  Professional</li>
				<li><input type="radio" value="5" name="professionalism">  Very professional</li>
			</ul>
			<textarea name ="professionalism_notes" placeholder="Professionalism"></textarea>
			<hr>

			<h1>Motivation</h1>
			<h4>The student was...</h4>
			<ul>
				<li><input type="radio" value="1" name="motivated">  Not motivated at all</li>
				<li><input type="radio" value="1" name="motivated">  Not motivated at all</li>
				<li><input type="radio" value="3" name="motivated" checked >  Somewhat motivated</li>
				<li><input type="radio" value="4" name="motivated">  Motivated</li>
				<li><input type="radio" value="5" name="motivated">  Very motivated</li>
			</ul>
			<textarea name ="motivated_notes" placeholder="Notes..."></textarea>
			<hr>

			<h1>Commitment</h1>
			<h4>The student was...</h4>
			<ul>
				<li><input type="radio" value="1" name="commitment">  Not committed at all</li>
				<li><input type="radio" value="2" name="commitment">  Not really committed</li>
				<li><input type="radio" value="3" name="commitment" checked >  Somewhat committed</li>
				<li><input type="radio" value="4" name="commitment">  Committed</li>
				<li><input type="radio" value="5" name="commitment">  Very committed</li>
			</ul>
			<textarea name ="commitment_notes" placeholder="Notes..."></textarea>

			<h4>Can the student can handle the time commitment? (50+ hours a week)</h4>
				<input type="radio" value="true" name="can_commit" checked>Yes
				<input type="radio" value="false" name="can_commit">No
			<!-- <div>
				<textarea name ="can_commit_notes" placeholder="Notes..."></textarea>
			</div> -->
			<hr>

			<h1>Experience</h1>
			<h4>The student was...</h4>
			<ul>
				<li><input type="radio" value="1" name="experienced">  Not experienced at all</li>
				<li><input type="radio" value="2" name="experienced">  Not really experienced</li>
				<li><input type="radio" value="3" name="experienced" checked >  Somewhat experienced</li>
				<li><input type="radio" value="4" name="experienced">  Experienced</li>
				<li><input type="radio" value="5" name="experienced">  Very experienced</li>
			</ul>
			<textarea name ="experienced_notes" placeholder="Notes..."></textarea>
			<hr>

			<h1>Attitude</h1>
			<h4>The students attitude was..</h4>
			<ul>
				<li><input type="radio" value="1" name="attitude">  Very poor</li>
				<li><input type="radio" value="2" name="attitude">  Somewhat poor</li>
				<li><input type="radio" value="3" name="attitude" checked >  Okay</li>
				<li><input type="radio" value="4" name="attitude">  Positive</li>
				<li><input type="radio" value="5" name="attitude">  Very positive</li>
			</ul>
			<textarea name ="attitude_notes" placeholder="Notes..."></textarea>
			<hr>

			<h1>Computer Proficiency</h1>
			<h4>The student's computer proficiency level was</h4>
			<ul>
				<li><input type="radio" value="1" name="skill">None</li>
				<li><input type="radio" value="2" name="skill">Beginner</li>
				<li><input type="radio" value="3" name="skill" checked >Intermediate</li>
				<li><input type="radio" value="4" name="skill">Advanced</li>
				<li><input type="radio" value="5" name="skill">Exceptional</li>
			</ul>
			<textarea name ="skill_notes" placeholder="Notes..."></textarea>

			<h4>Type test results</h4>
			<input type="number" min="1" max="999" name="wpm" value="15" id="wpm">WPM
			<textarea name ="wpm_notes" placeholder="Notes..."></textarea>

			<h4>Does the student own a mac?</h4>
			<input type="radio" value="true" name="have_mac" checked >Yes
			<input type="radio" value="false" name="have_mac">No
			<textarea name ="mac_notes" placeholder="Notes..."></textarea>
			<hr>

			<h1>Overall Score</h1>
			<h4>The student's overall score was:</h4>
			<ul>
				<li><input type="radio" value="1" name="overall">  1</li>
				<li><input type="radio" value="2" name="overall">  2</li>
				<li><input type="radio" value="3" name="overall" checked >  3</li>
				<li><input type="radio" value="4" name="overall">  4</li>
				<li><input type="radio" value="5" name="overall">  5</li>
			</ul>
			<p>If the student's score was a one or two, then please indicate why below.</p>
			<textarea name ="overall_notes" placeholder="Notes..."></textarea>
			<input type="submit" class="btn btn-success" id="submitButton">
		</form>
	</div>
</body>
</html>
