<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <script src="/student/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/student/styles/styles.css">
  <title>Student Profile</title>
</head>
<body>

  <div class="container">

    <h1>Student Profile</h1>
    <img src="<%= student.avatar %>">
    <p>Name: <%= student.name %></p>
    <p>Email: <a href="mailto:<%= student.email %>"><%= student.email %></a></p>
    <p><a href="<%= student.github %>">GitHub</a></p>
    <p><a href="/student/logout">Logout</a></p>

  </div>

</body>
</html>
